---
import Button from '@components/ui/button.astro'
import Chrome from '@icons/chrome.astro'
import Feather from '@icons/feather.astro'
import Gift from '@icons/gift.astro'
import Happy from '@icons/happy.astro'
import { GithubURL, ExtensionURL } from '@/consts'
---

<section
  id="hero"
  class="use-motion max-w-screen container flex flex-col items-center justify-center gap-4 px-8 pt-48"
>
  <h1 class="font-VinaSans text-center text-5xl sm:text-7xl">
    {
      'Take Control of Picture-in-Picture.'
        .split(' ')
        .map(char => <span class="use-motion-text opacity-0 blur-[var(--blur)]">{char} </span>)
    }
  </h1>
  <div class="max-w-[60ch] text-center text-lg">
    <p id="a">
      {
        'never miss a moment'
          .split(' ')
          .map(char => <span class="use-motion-text opacity-0 blur-[var(--blur)]">{char} </span>)
      }
    </p>
    <p id="b">
      {
        'built for multitaskers and binge-watchers'
          .split(' ')
          .map(char => <span class="use-motion-text opacity-0 blur-[var(--blur)]">{char} </span>)
      }
    </p>
  </div>
  <div class="flex flex-row flex-nowrap items-center gap-4 pt-8">
    <Button
      href={ExtensionURL}
      id="get-pipx"
      class="border-1 border-[var(--lime)] text-xl sm:text-2xl"
      isBlank
    >
      <Chrome
        class="hover:text-shadow-[0_0_1.5rem_hsla(0,0%,100%,.5)] aspect-square w-8 fill-current font-[var(--lime)]"
      />Get PIPX</Button
    >
    <Button
      variant="link"
      size="lg"
      class="hover:text-shadow-[0_0_2rem_var(--lime)] px-2 text-lg sm:px-8 sm:text-xl"
      href={GithubURL}
      id="github"
      isBlank>Github</Button
    >
  </div>
  <div class="mx-4 mt-8 text-lime-100">
    <ul class="grid w-full max-w-max grid-cols-3 gap-6 text-center text-xs">
      <li class="flex flex-col items-center justify-center gap-1">
        <Gift class="w-5" /><span> Free &<br />open-source</span>
      </li>
      <li class="flex flex-col items-center justify-center gap-1">
        <Feather class="w-5" /><span>Tiny<br />footweight</span>
      </li>
      <li class="flex flex-col items-center justify-center gap-1">
        <Happy class="w-5" /><span>Easy<br />to use</span>
      </li>
    </ul>
  </div>
  <script>
    import { animate, stagger } from 'motion'

    window.CSS.registerProperty({
      name: '--blur',
      inherits: false,
      initialValue: '4px',
    })

    function initializeMotion() {
      animate(
        'h1 .use-motion-text',
        { opacity: 1, '--blur': '0px' },
        {
          duration: 1.5,
          ease: 'easeOut',
          delay: stagger(0.15, { startDelay: 0 }),
        }
      )

      animate(
        '#a .use-motion-text',
        { opacity: 1, '--blur': '0px' },
        {
          duration: 1,
          ease: 'easeOut',
          delay: stagger(0.1, { startDelay: 0.5 }),
        }
      )

      animate(
        '#b .use-motion-text',
        { opacity: 1, '--blur': '0px' },
        {
          duration: 1,
          ease: 'easeOut',
          delay: stagger(0.1, { startDelay: 1 }),
        }
      )
    }

    document.addEventListener('astro:page-load', () => {
      initializeMotion()
    })
  </script>
</section>
